@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@theme {
  --text-*: initial;
  --text-xs: 0.75rem;
  --text-xs--line-height: 1rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5rem;
  --text-base: 1rem;
  --text-base--line-height: 1.75rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 2rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 2rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2rem;
  --text-3xl: 2rem;
  --text-3xl--line-height: 2.5rem;
  --text-4xl: 2.5rem;
  --text-4xl--line-height: 3.5rem;
  --text-5xl: 3rem;
  --text-5xl--line-height: 3.5rem;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1.1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;

  --background-image-screens: url('/path-to/image.png');

  --color-black: #09090b;
  --color-purewhite: #fff;
  --color-white: #e4e4e7;

  --color-accent-50: #fefce8;
  --color-accent-100: #fef9c3;
  --color-accent-200: #fef08a;
  --color-accent-300: #fde047;
  --color-accent-400: #facc15;
  --color-accent-500: #eab308;
  --color-accent-600: #ca8a04;
  --color-accent-700: #a16207;
  --color-accent-800: #854d0e;
  --color-accent-900: #713f12;
  --color-accent-950: #422006;

  --font-sans: Recursive, ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: JetBrains Mono, ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;
}

mark {
  @apply bg-accent-400 text-black;
}

.as-is img {
  aspect-ratio: auto;
}

.prose h2 a,
.prose h3 a {
  font-weight: bold;
}

:root {
  --astro-code-color-text: #fff;
  --astro-code-color-background: #18181b;
  --astro-code-token-constant: #c084fc;
  --astro-code-token-string: #34d399;
  --astro-code-token-comment: #a1a1aa;
  --astro-code-token-keyword: #38bdf8;
  --astro-code-token-parameter: #fb923c;
  --astro-code-token-function: #f472b6;
  --astro-code-token-string-expression: #34d399;
  --astro-code-token-punctuation: #facc15;
  --astro-code-token-link: #a5b4fc;
}
