@tailwind base;
@tailwind components;
@tailwind utilities;

mark {
  @apply bg-accent-400 text-black;
}

.as-is img {
  aspect-ratio: auto;
}

.prose h2 a,
.prose h3 a {
  font-weight: bold;
}

:root {
  --astro-code-color-text: #fff;
  --astro-code-color-background: #18181b;
  --astro-code-token-constant: #c084fc;
  --astro-code-token-string: #34d399;
  --astro-code-token-comment: #a1a1aa;
  --astro-code-token-keyword: #38bdf8;
  --astro-code-token-parameter: #fb923c;
  --astro-code-token-function: #f472b6;
  --astro-code-token-string-expression: #34d399;
  --astro-code-token-punctuation: #facc15;
  --astro-code-token-link: #a5b4fc;
}
