<main aria-labelledby="header" class="relative overflow-hidden">
  <h2 class="sr-only" id="header">About Colin</h2><div
    class="max-w-6xl px-8 mx-auto py-12 lg:pt-28">
    <div>
      <h1
        class="text-white mt-4 font-bold text-5xl lg:text-8xl tracking-tighter">
        Simplifying things for others has always driven me.
      </h1>
      <div
        class="mt-8 max-w-2xl prose prose-hover:a:text-accent-300 prose-a:text-white prose-a:underline prose-blockquote:border-l-2 prose-blockquote:font-light prose-blockquote:text-white/50 prose-code:text-white prose-figcaption:pb-6 prose-figcaption:text-accent-300 prose-figcaption:text-base prose-h1:font-semibold prose-h1:lg:text-8xl prose-h1:text-5xl prose-h1:tracking-tighter prose-h4:lg:text-2xl prose-h4:text-xl prose-headings:text-white prose-img:aspect-square prose-img:object-cover prose-img:w-full prose-li:lg:text-xl prose-li:marker:text-white prose-li:text-lg prose-mark:bg-accent-300 prose-p:lg:text-xl prose-p:text-lg prose-strong:text-white space-y-6 text-white/70 prose-table:divide-white/20">
        <h4>
          Whether at work or at home, the desire to some day be lazy drives
          a ton of hard work.
        </h4>
      </div>
    </div>
    <div class="mt-12">
        <article>
          <img
            class="w-full object-cover"
            src="https://images.unsplash.com/photo-1573209580826-13bdfd6db7e7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80"
            alt="Hammock on the beach"
            width="1310"
            height="873"
          />
          <figcaption class="text-zinc-500 text-center p-2 text-sm">
            Source: <a href="https://unsplash.com/@uripdunker" class=" hover:text-accent-300">Unsplash</a>
          </figcaption>
        </article>
    </div>
    <div class="max-w-5xl mt-12">
      <h3
        class="text-accent-400 mt-4 font-semibold leading-loose text-5xl tracking-tighter">
        Short bio
      </h3>
      <div
        class="lg:mt-8 max-w-2xl prose hover:prose-a:text-accent-300 prose-a:text-white prose-a:underline prose-blockquote:border-l-2 prose-blockquote:font-light prose-blockquote:text-white/50 prose-code:text-white prose-figcaption:pb-6 prose-figcaption:text-accent-300 prose-figcaption:text-base prose-h1:font-semibold prose-h1:lg:text-8xl prose-h1:text-5xl prose-h1:tracking-tighter prose-h4:lg:text-2xl prose-h4:text-xl prose-headings:font-mono prose-headings:text-white prose-img:aspect-square prose-img:object-cover prose-img:w-full prose-li:lg:text-xl prose-li:marker:text-white prose-li:text-lg prose-mark:bg-accent-300 prose-p:lg:text-xl prose-p:text-lg prose-strong:text-white space-y-6 text-white/70 prose-table:divide-white/20">
        <p>
          Table top gamer, book lover and crafter of fine software applications.
          I am a fan of usability, automation and making things look nice.
        </p>
        
        <hr />
        <p>
          Colin Bate
          <br />
          <span class="opacity-50 text-sm"
            >Location: Bermuda</span
          >
        </p>
      </div>
    </div>
  </div>
</main>
