---
import Project from "$comp/Project.astro";
import { getCollection } from "astro:content";
const projects = await getCollection("projects");
---

<main aria-labelledby="header" class="relative overflow-hidden">
  <h2 class="sr-only" id="header">Colin Bate's Projects</h2><div
    class="max-w-6xl px-8 mx-auto py-12 lg:pt-28">
    <div>
      <h1
        class="text-white mt-4 font-semibold text-5xl lg:text-8xl tracking-tighter">
        Projects
      </h1>
      <div class="lg:mt-8 max-w-2xl flex flex-col gap-8">
        <p class="text-lg lg:text-2xl text-white lg:leading-[2]">
          Lots of fun little projects, many written using Svelte, my framework of choice.
        </p>
        <p class="text-lg lg:text-2xl text-white lg:leading-[2]">
          You can also browse my whole
          <a class="hover:text-yellow-300 underline decoration-wavy" href="https://github.com/colinbate/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" class="size-6 inline-block relative -top-1" fill="currentColor" viewBox="0 0 496 512"><path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/></svg>
          GitHub profile</a>, or explore the work I do in the 
          <a class="hover:text-emerald-400 underline decoration-wavy" href="https://ttrpg.tools/" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 236 242" fill="currentColor" class="size-6 inline-block relative -top-1"><path d="M91.535-.023h52.927l8.128 37.056a90.951 90.951 0 0 1 20.793 12.006l36.151-11.534 26.464 45.848-28.07 25.571c.52 3.922.803 7.94.803 12.006 0 4.064-.283 8.082-.803 12.004l28.07 25.571-26.464 45.848-36.15-11.533a90.951 90.951 0 0 1-20.794 12.005l-8.128 37.151H91.535l-8.129-37.057a90.904 90.904 0 0 1-20.792-12.004L26.463 204.4-.001 158.552l28.07-25.57a91.636 91.636 0 0 1-.803-12.006c0-4.065.284-8.082.803-12.005L-.001 83.4l26.464-45.848 36.151 11.533a90.87 90.87 0 0 1 20.792-12.005L91.535-.023ZM57.309 92.511v46.764l21.317-33.992L57.31 92.511Zm60.69-34.752L91.041 100.73h53.913l-26.957-42.97Zm0 95.503 25.388-44.438H92.61l25.388 44.463v-.025Zm33.429-42.212-28.372 49.673 55-7.233-26.628-42.44Zm-66.885 0-26.602 42.44 55 7.233-28.372-49.673h-.026Zm37.501 74.662 56.163-24.078-56.163 7.385v16.693Zm56.644-46.437V92.511l-21.317 12.772 21.317 33.992Zm-69.566-82.603-48.83 28.175L82.926 98.43l26.197-41.757ZM57.79 161.634l56.163 24.078v-16.693l-56.163-7.385Zm117.915-76.787-48.83-28.175 26.198 41.757 22.632-13.582Z"/></svg>
            TTRPG space.
          </a>
        </p>
      </div>
    </div>
  </div>
</main>
<section>
  <div class="max-w-6xl px-8 mx-auto py-12">
    <div class="space-y-6 max-w-5xl">
      {
        projects.map((proj) => <Project proj={proj} />)
      }
    </div>
  </div>
</section>
