---
import Project from "$comp/Project.astro";
import { getCollection } from "astro:content";
const projects = await getCollection("projects");
---

<main aria-labelledby="header" class="relative overflow-hidden">
  <h2 class="sr-only" id="header">Colin Bate's Projects</h2><div
    class="max-w-6xl px-8 mx-auto py-12 lg:pt-28">
    <div>
      <h1
        class="text-white mt-4 font-semibold text-5xl lg:text-8xl tracking-tighter">
        Projects
      </h1>
      <div class="lg:mt-8 max-w-2xl">
        <p class="text-lg lg:text-2xl text-white">
          Lots of fun little projects, many written using Svelte, my framework of choice.
        </p>
      </div>
    </div>
  </div>
</main>
<section>
  <div class="max-w-6xl px-8 mx-auto py-12">
    <div class="space-y-6 max-w-5xl">
      {
        projects.map((proj) => <Project proj={proj} />)
      }
    </div>
  </div>
</section>
