---
import { SITE_TITLE } from '$data/constants';
---
<div class="mx-auto w-full bg-black justify-center">
  <div
    class="mx-auto w-full flex flex-row items-center justify-between px-8 max-w-7xl lg:px-24 py-6 lg:py-16">
    <div class="text-white items-center flex justify-between flex-row z-20">
      <a
        class="text-accent-400 hover:text-accent-300 items-center gap-3 inline-flex tracking-tighter"
        href="/"
        ><span>{SITE_TITLE}</span>
      </a>
    </div>
    <nav
      class="opacity-100 items-center flex-grow p-0 px-0 flex flex-row justify-start mt-0 gap-8">
      <a
        class="text-white font-medium duration-2 focus:outline-none focus:shadow-none hover:text-accent-300 md:my-0 py-2 ml-auto"
        href="/blog"
        >Posts
      </a>
      <a
        class="text-white font-medium duration-2 focus:outline-none focus:shadow-none hover:text-accent-300 md:my-0 py-2"
        href="/projects"
        >Projects
      </a>
    </nav>
  </div>
</div>
